<html ng-app="jsoncrudapp">
	<head>
		<title>JSON CRUD</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		<link href="jsoncrud.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
		<script src="bower_components/angular-contenteditable/angular-contenteditable.js"></script>
		<script src="angularjsoncrud.js"></script>
		<script type="text/ng-template" id="node.html">
			<button ng-click="minimized = !minimized" ng-show="!isLeaf(value)" ng-init="minimized=false" ng-class="{'glyphicon glyphicon-plus': minimized, 'glyphicon glyphicon-minus': !minimized}">-</button>
			<span contenteditable="true" ng-if="!isArray(parent) && !isUndefined(key)" ng-model="key" ng-change="updateKey(parent, key, $parent)">{{key}}</span>
			<span contenteditable="true" ng-if="isLeaf(value)" ng-model="parent[key]" />
			<button ng-click="deleteElement(key, parent)" ng-if="!isUndefined(key)">[x]</button>
			<span ng-if="!isLeaf(value)">Count: {{objlength(value)}}</span>
			<ul ng-if="!isLeaf(value)" ng-show="!minimized">
				<li ng-repeat="(key,value) in value" ng-include="'node.html'" onload="parent=$parent.$parent.$parent.value"></li>
				<button type="button" ng-if="isArray(value)" ng-click="addToArray(value)">Add Array Element</button>
				<button type="button" ng-if="isObject(value)" ng-click="addToObject(value)">Add Object Element</button>
			</ul>
		</script>
	</head>
	<body ng-controller="jsoncrudctrl">
		<input type="text" ng-model="jsonUrl" /><button ng-click="loadJson(jsonUrl)">Load URL</button>
			<div ng-include="'node.html'"></div>
		<pre>{{stringify(value)}}</pre>
	</body>
</html>
